.flexibleSection{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}

h2{
    color: #424242;
    font-size: 60px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

.divWidth{
    width: 50%;
}

.divWidth img{
    width: 50%;
    padding-left: 15%;
}

p{
    font-family: 'Calibri', 'Lucida Sans Unicode';
    font-size: 25px;
    text-align: justify;
    padding-bottom: 2%;
}

.firstHeader{
    border-left: 7px solid #F44336;
    line-height: 50px;
    padding-left: 1%;
}

.linkButton{
    background-color:#E53935;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}

footer{
    position:absolute;
    left:0;
    right:0;
    padding: 2%;
    background-color:#263238;
    text-align:center;
    color:white;
    font-family: 'Sonsie One', 'cursive';
    font-size: 40px;
    font-weight: 900;    
}

.secondSection{
        margin-top: 2%;
        margin-left: 10%;
}

.missionVissionGoals{
    display: flex;
    text-align: justify;
}

#mission{
    width: 50%;
    background-color: #f3e5f5;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 25px;
}

#vission{
    width: 50%;
    background-color: #fff3e0;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25px;
}

#goals{
    width: 50%;
    background-color: #e3f2fd;
    margin-right: 10%;
    padding-left: 2%;
    margin-left: 3%;
    padding-right: 2%;
    border-radius: 25px;
}

.missionVissionGoals img{
    margin-top: 10%;
    width: 30%;
    height: 30%;
}

h4{
    color:#424242;
    font-family: 'Verdana','Trebuchet MS';
    margin-top: 2%;
    font-size: 30px;
    margin-bottom: 2%;
}

h3{
    color:#263238;
    font-family: 'Verdana','Trebuchet MS';
    font-size: 40px;
    font-size: 700;
}

.learnDiv{
    width: 100%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.learnDiv img{
    width: 100%;
}

.learnDiv2{
    margin-left: -5%;
    margin-right: 10%;
    margin-top: 5%;
}

.sameButton{
    font-size: 15px;
    text-decoration: none;
    background-color:#9C27B0;
    color:white;
    padding: 15px;
    font-family: 'Share Tech Mono', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    border-radius: 10px;
}

.buildProjects{
    width: 50%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.buildProjects img{
    width: 80%;
    margin-left: 10%;
}

.newProject{
    display: flex;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
}

.backgroundImage{
    background-image: url(/images/shape-5.png);
    background-repeat: no-repeat;
    background-size: 25% 70%;
    background-position: 500px 50px;
    margin-bottom: 5%;
}

h5{
    color:#212121;
    font-size: 40px;
    margin-top: -5%;
    margin-bottom: 1%;
    font-family: 'Verdana';
}